
__pycache__/
.DS_Store
.env
.idea/
.venv/
.vscode/
*.db
*.egg
*.egg-info/
*.hass
*.py[cod]
*.storage
*.swo
*.swp
*.zip
# Distribution
# Environment
# HA
# IDE
# OS
# Python
capture-guide.png
dist/
screenshot.png
Thumbs.db
venv/
数据包/
